<h1> Tweets index </h1>

<table class="default" border ="1">
    <% @tasks.each  do |task|%>
     <tr>
        <td> <p><%=task.id %> - <%=task.description %></p> </td>
      </tr>
    <%end%>
</table>





<%= link_to('New Task', new_task_path)%>




