<h1> Tweets index </h1>
<div>
    <div>	
    <% @tasks.each  do |task|%>
        <table class="twets" >
            <tr  >
                <td> <p><%= task.user.username %> </td>  <td class="tabla">  <%=task.description %></p> </td>
            </tr>
            <%end%>
        </table>
    </div>
</div>
</div>
<%= link_to('New Task', new_task_path)%>




