<h1> Tweets index </h1>


<div id="content" >
    <div class="wrapper">	
    <% @tasks.each  do |task|%>
        <table class="twets" >
            <tr >

            <%= us = task.user %>
                <td > <p><%=us.username %> - <%=task.description %></p> </td>
            </tr>
            <%end%>
        </table>
    </div>
</div>

<div class="text_area_task">

</div>




<%= link_to('New Task', new_task_path)%>




